OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
OPENAI_CONVERSATION_SUMMARY_MODEL=gpt-5-mini
BOTCHAT_COMPACT_AFTER_TOTAL_TOKENS=1000
BOTCHAT_COMPACT_AFTER_USER_MESSAGE_COUNT=4
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SERVICE_ROLE_KEY=
